USE [syncro]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[employee_schedule]') AND type in (N'U'))
ALTER TABLE [dbo].[employee_schedule] DROP CONSTRAINT IF EXISTS [CK_employee_schedule_dates]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vacations]') AND type in (N'U'))
ALTER TABLE [dbo].[vacations] DROP CONSTRAINT IF EXISTS [FK_Vacations_Users]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vacation_movements]') AND type in (N'U'))
ALTER TABLE [dbo].[vacation_movements] DROP CONSTRAINT IF EXISTS [FK_vacation_movements_Users]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user_vacation_balance]') AND type in (N'U'))
ALTER TABLE [dbo].[user_vacation_balance] DROP CONSTRAINT IF EXISTS [FK_user_vacation_balance_users]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sale_detail]') AND type in (N'U'))
ALTER TABLE [dbo].[sale_detail] DROP CONSTRAINT IF EXISTS [fk_sale_detail_purchase]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sale_detail]') AND type in (N'U'))
ALTER TABLE [dbo].[sale_detail] DROP CONSTRAINT IF EXISTS [FK_sale_detail_product_product_id]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[quotes]') AND type in (N'U'))
ALTER TABLE [dbo].[quotes] DROP CONSTRAINT IF EXISTS [FK_quotes_users_user_id]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[quotes]') AND type in (N'U'))
ALTER TABLE [dbo].[quotes] DROP CONSTRAINT IF EXISTS [FK_quotes_discount_discount_id]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[quotes]') AND type in (N'U'))
ALTER TABLE [dbo].[quotes] DROP CONSTRAINT IF EXISTS [FK_quotes_clients_client_id]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[quote_detail]') AND type in (N'U'))
ALTER TABLE [dbo].[quote_detail] DROP CONSTRAINT IF EXISTS [FK_quote_detail_quotes_quote_id]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[quote_detail]') AND type in (N'U'))
ALTER TABLE [dbo].[quote_detail] DROP CONSTRAINT IF EXISTS [FK_quote_detail_product_product_id]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[purchase]') AND type in (N'U'))
ALTER TABLE [dbo].[purchase] DROP CONSTRAINT IF EXISTS [fk_purchase_user]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[purchase]') AND type in (N'U'))
ALTER TABLE [dbo].[purchase] DROP CONSTRAINT IF EXISTS [FK_purchase_tax_tax_id]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[purchase]') AND type in (N'U'))
ALTER TABLE [dbo].[purchase] DROP CONSTRAINT IF EXISTS [FK_purchase_clients_client_id]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[product]') AND type in (N'U'))
ALTER TABLE [dbo].[product] DROP CONSTRAINT IF EXISTS [fk_product_distributor]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[loan]') AND type in (N'U'))
ALTER TABLE [dbo].[loan] DROP CONSTRAINT IF EXISTS [fk_loan_purchase]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[invoice]') AND type in (N'U'))
ALTER TABLE [dbo].[invoice] DROP CONSTRAINT IF EXISTS [fk_invoice_purchase]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[employee_schedule]') AND type in (N'U'))
ALTER TABLE [dbo].[employee_schedule] DROP CONSTRAINT IF EXISTS [FK_employee_schedule_users]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[employee_schedule]') AND type in (N'U'))
ALTER TABLE [dbo].[employee_schedule] DROP CONSTRAINT IF EXISTS [FK_employee_schedule_created_by_user]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[district]') AND type in (N'U'))
ALTER TABLE [dbo].[district] DROP CONSTRAINT IF EXISTS [fk_district_canton]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[clients]') AND type in (N'U'))
ALTER TABLE [dbo].[clients] DROP CONSTRAINT IF EXISTS [fk_clients_province]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[client_location]') AND type in (N'U'))
ALTER TABLE [dbo].[client_location] DROP CONSTRAINT IF EXISTS [fk_client_location_client]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cash_register]') AND type in (N'U'))
ALTER TABLE [dbo].[cash_register] DROP CONSTRAINT IF EXISTS [fk_cash_register_user]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cash_register]') AND type in (N'U'))
ALTER TABLE [dbo].[cash_register] DROP CONSTRAINT IF EXISTS [fk_cash_register_purchase]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[canton]') AND type in (N'U'))
ALTER TABLE [dbo].[canton] DROP CONSTRAINT IF EXISTS [fk_canton_province]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[asset]') AND type in (N'U'))
ALTER TABLE [dbo].[asset] DROP CONSTRAINT IF EXISTS [FK_asset_users_user_id]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vacations]') AND type in (N'U'))
ALTER TABLE [dbo].[vacations] DROP CONSTRAINT IF EXISTS [DF__vacations__creat__29221CFB]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vacations]') AND type in (N'U'))
ALTER TABLE [dbo].[vacations] DROP CONSTRAINT IF EXISTS [DF__vacations__statu__282DF8C2]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vacation_movements]') AND type in (N'U'))
ALTER TABLE [dbo].[vacation_movements] DROP CONSTRAINT IF EXISTS [DF__vacation___creat__2739D489]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U'))
ALTER TABLE [dbo].[users] DROP CONSTRAINT IF EXISTS [DF__users__failed_lo__2645B050]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U'))
ALTER TABLE [dbo].[users] DROP CONSTRAINT IF EXISTS [DF__users__MustChang__25518C17]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U'))
ALTER TABLE [dbo].[users] DROP CONSTRAINT IF EXISTS [DF__users__created_a__245D67DE]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U'))
ALTER TABLE [dbo].[users] DROP CONSTRAINT IF EXISTS [DF__users__is_active__236943A5]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user_vacation_balance]') AND type in (N'U'))
ALTER TABLE [dbo].[user_vacation_balance] DROP CONSTRAINT IF EXISTS [DF__user_vaca__updat__22751F6C]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user_vacation_balance]') AND type in (N'U'))
ALTER TABLE [dbo].[user_vacation_balance] DROP CONSTRAINT IF EXISTS [DF__user_vaca__avail__2180FB33]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sale_detail]') AND type in (N'U'))
ALTER TABLE [dbo].[sale_detail] DROP CONSTRAINT IF EXISTS [DF__sale_deta__produ__208CD6FA]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[quotes]') AND type in (N'U'))
ALTER TABLE [dbo].[quotes] DROP CONSTRAINT IF EXISTS [DF__quotes__quote_di__1F98B2C1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[quotes]') AND type in (N'U'))
ALTER TABLE [dbo].[quotes] DROP CONSTRAINT IF EXISTS [DF__quotes__quote_di__1EA48E88]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[quotes]') AND type in (N'U'))
ALTER TABLE [dbo].[quotes] DROP CONSTRAINT IF EXISTS [DF__quotes__quote_di__1DB06A4F]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[quotes]') AND type in (N'U'))
ALTER TABLE [dbo].[quotes] DROP CONSTRAINT IF EXISTS [DF__quotes__quote_st__1CBC4616]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[purchase]') AND type in (N'U'))
ALTER TABLE [dbo].[purchase] DROP CONSTRAINT IF EXISTS [DF__purchase__total__1BC821DD]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[purchase]') AND type in (N'U'))
ALTER TABLE [dbo].[purchase] DROP CONSTRAINT IF EXISTS [DF__purchase__tax_pe__1AD3FDA4]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[purchase]') AND type in (N'U'))
ALTER TABLE [dbo].[purchase] DROP CONSTRAINT IF EXISTS [DF__purchase__tax_am__19DFD96B]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[purchase]') AND type in (N'U'))
ALTER TABLE [dbo].[purchase] DROP CONSTRAINT IF EXISTS [DF__purchase__subtot__18EBB532]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[purchase]') AND type in (N'U'))
ALTER TABLE [dbo].[purchase] DROP CONSTRAINT IF EXISTS [DF__purchase__is_act__17F790F9]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[purchase]') AND type in (N'U'))
ALTER TABLE [dbo].[purchase] DROP CONSTRAINT IF EXISTS [DF__purchase__purcha__17036CC0]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[purchase]') AND type in (N'U'))
ALTER TABLE [dbo].[purchase] DROP CONSTRAINT IF EXISTS [DF__purchase__purcha__160F4887]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[product]') AND type in (N'U'))
ALTER TABLE [dbo].[product] DROP CONSTRAINT IF EXISTS [DF__product__is_acti__151B244E]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[loan]') AND type in (N'U'))
ALTER TABLE [dbo].[loan] DROP CONSTRAINT IF EXISTS [DF__loan__loan_date__14270015]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[loan]') AND type in (N'U'))
ALTER TABLE [dbo].[loan] DROP CONSTRAINT IF EXISTS [DF__loan__loan_depos__1332DBDC]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[invoice]') AND type in (N'U'))
ALTER TABLE [dbo].[invoice] DROP CONSTRAINT IF EXISTS [DF__invoice__invoice__123EB7A3]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[employee_schedule]') AND type in (N'U'))
ALTER TABLE [dbo].[employee_schedule] DROP CONSTRAINT IF EXISTS [DF_employee_schedule_created_at]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[employee_schedule]') AND type in (N'U'))
ALTER TABLE [dbo].[employee_schedule] DROP CONSTRAINT IF EXISTS [DF_employee_schedule_is_active]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[distributor]') AND type in (N'U'))
ALTER TABLE [dbo].[distributor] DROP CONSTRAINT IF EXISTS [DF__distribut__creat__0F624AF8]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[distributor]') AND type in (N'U'))
ALTER TABLE [dbo].[distributor] DROP CONSTRAINT IF EXISTS [DF__distribut__is_ac__0E6E26BF]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[clients]') AND type in (N'U'))
ALTER TABLE [dbo].[clients] DROP CONSTRAINT IF EXISTS [df_clients_created_at]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[clients]') AND type in (N'U'))
ALTER TABLE [dbo].[clients] DROP CONSTRAINT IF EXISTS [DF__clients__is_acti__0C85DE4D]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[clients]') AND type in (N'U'))
ALTER TABLE [dbo].[clients] DROP CONSTRAINT IF EXISTS [DF__clients__client___0B91BA14]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[client_location]') AND type in (N'U'))
ALTER TABLE [dbo].[client_location] DROP CONSTRAINT IF EXISTS [df_client_location_created_at]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cash_register]') AND type in (N'U'))
ALTER TABLE [dbo].[cash_register] DROP CONSTRAINT IF EXISTS [DF__cash_regi__cash___09A971A2]
GO
/****** Object:  Index [uq_users_email]    Script Date: 2/24/2026 4:56:44 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U'))
ALTER TABLE [dbo].[users] DROP CONSTRAINT IF EXISTS [uq_users_email]
GO
/****** Object:  Index [UQ__user_vac__B9BE370E465AB062]    Script Date: 2/24/2026 4:56:44 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[user_vacation_balance]') AND type in (N'U'))
ALTER TABLE [dbo].[user_vacation_balance] DROP CONSTRAINT IF EXISTS [UQ__user_vac__B9BE370E465AB062]
GO
/****** Object:  Index [uq_distributor_code]    Script Date: 2/24/2026 4:56:44 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[distributor]') AND type in (N'U'))
ALTER TABLE [dbo].[distributor] DROP CONSTRAINT IF EXISTS [uq_distributor_code]
GO
/****** Object:  Table [dbo].[vacations]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[vacations]
GO
/****** Object:  Table [dbo].[vacation_movements]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[vacation_movements]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[users]
GO
/****** Object:  Table [dbo].[user_vacation_balance]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[user_vacation_balance]
GO
/****** Object:  Table [dbo].[tax]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[tax]
GO
/****** Object:  Table [dbo].[sale_detail]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[sale_detail]
GO
/****** Object:  Table [dbo].[quotes]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[quotes]
GO
/****** Object:  Table [dbo].[quote_detail]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[quote_detail]
GO
/****** Object:  Table [dbo].[purchase]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[purchase]
GO
/****** Object:  Table [dbo].[province]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[province]
GO
/****** Object:  Table [dbo].[product]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[product]
GO
/****** Object:  Table [dbo].[loan]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[loan]
GO
/****** Object:  Table [dbo].[invoice]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[invoice]
GO
/****** Object:  Table [dbo].[employee_schedule]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[employee_schedule]
GO
/****** Object:  Table [dbo].[district]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[district]
GO
/****** Object:  Table [dbo].[distributor]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[distributor]
GO
/****** Object:  Table [dbo].[discount]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[discount]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[clients]
GO
/****** Object:  Table [dbo].[client_location]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[client_location]
GO
/****** Object:  Table [dbo].[cash_register]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[cash_register]
GO
/****** Object:  Table [dbo].[canton]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[canton]
GO
/****** Object:  Table [dbo].[asset]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[asset]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP TABLE IF EXISTS [dbo].[__EFMigrationsHistory]
GO
USE [master]
GO
/****** Object:  Database [syncro]    Script Date: 2/24/2026 4:56:44 PM ******/
DROP DATABASE IF EXISTS [syncro]
GO
/****** Object:  Database [syncro]    Script Date: 2/24/2026 4:56:44 PM ******/
CREATE DATABASE [syncro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'syncro', FILENAME = N'C:\Users\Stock\syncro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'syncro_log', FILENAME = N'C:\Users\Stock\syncro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [syncro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [syncro]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asset]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asset](
	[asset_id] [int] IDENTITY(1,1) NOT NULL,
	[asset_name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](500) NULL,
	[serial_number] [nvarchar](100) NULL,
	[observations] [nvarchar](1000) NULL,
	[user_id] [int] NOT NULL,
	[assignment_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK_asset] PRIMARY KEY CLUSTERED 
(
	[asset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[canton]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[canton](
	[canton_code] [int] NOT NULL,
	[canton_name] [varchar](100) NOT NULL,
	[province_code] [int] NOT NULL,
 CONSTRAINT [pk_canton] PRIMARY KEY CLUSTERED 
(
	[canton_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cash_register]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cash_register](
	[cash_register_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[cash_register_initial_total] [decimal](10, 2) NULL,
	[cash_register_final_total] [decimal](10, 2) NULL,
	[cash_register_date] [datetime] NULL,
	[purchase_id] [int] NULL,
 CONSTRAINT [pk_cash_register] PRIMARY KEY CLUSTERED 
(
	[cash_register_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client_location]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client_location](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [varchar](20) NOT NULL,
	[latitude] [decimal](9, 6) NOT NULL,
	[longitude] [decimal](9, 6) NOT NULL,
	[address] [varchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [pk_client_location] PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[client_id] [varchar](20) NOT NULL,
	[client_name] [varchar](255) NOT NULL,
	[client_email] [varchar](255) NULL,
	[client_phone] [varchar](50) NULL,
	[client_electronic_invoice] [varchar](255) NULL,
	[client_type] [varchar](50) NULL,
	[client_purchases] [int] NOT NULL,
	[client_last_purchase] [datetime] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[province_code] [int] NULL,
	[canton_code] [int] NULL,
	[district_code] [int] NULL,
	[exact_address] [varchar](500) NULL,
 CONSTRAINT [pk_clients] PRIMARY KEY CLUSTERED 
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discount]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discount](
	[discount_id] [int] IDENTITY(1,1) NOT NULL,
	[discount_name] [nvarchar](150) NOT NULL,
	[discount_percentage] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_discount] PRIMARY KEY CLUSTERED 
(
	[discount_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[distributor]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[distributor](
	[distributor_id] [int] IDENTITY(1,1) NOT NULL,
	[distributor_code] [varchar](50) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[email] [varchar](150) NULL,
	[phone] [varchar](50) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [pk_distributor] PRIMARY KEY CLUSTERED 
(
	[distributor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[district]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[district](
	[district_code] [int] NOT NULL,
	[district_name] [varchar](100) NOT NULL,
	[canton_code] [int] NOT NULL,
 CONSTRAINT [pk_district] PRIMARY KEY CLUSTERED 
(
	[district_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_schedule]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_schedule](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[start_at] [datetime2](0) NOT NULL,
	[end_at] [datetime2](0) NOT NULL,
	[notes] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
	[created_by_user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice](
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[purchase_id] [int] NOT NULL,
	[electronic_invoice] [varchar](255) NULL,
	[invoice_total] [decimal](10, 2) NOT NULL,
	[invoice_date] [datetime] NULL,
 CONSTRAINT [pk_invoice] PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loan]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loan](
	[loan_id] [int] IDENTITY(1,1) NOT NULL,
	[purchase_id] [int] NOT NULL,
	[pending_amount] [decimal](10, 2) NOT NULL,
	[loan_deposit] [decimal](10, 2) NULL,
	[loan_date] [datetime] NULL,
 CONSTRAINT [pk_loan] PRIMARY KEY CLUSTERED 
(
	[loan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[distributor_id] [int] NOT NULL,
	[product_name] [varchar](255) NOT NULL,
	[product_type] [varchar](100) NULL,
	[product_price] [decimal](10, 2) NOT NULL,
	[product_quantity] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [pk_product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[province]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[province](
	[province_code] [int] NOT NULL,
	[province_name] [varchar](100) NOT NULL,
 CONSTRAINT [pk_province] PRIMARY KEY CLUSTERED 
(
	[province_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase](
	[purchase_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[client_id] [varchar](20) NOT NULL,
	[purchase_date] [datetime] NULL,
	[purchase_paid] [bit] NULL,
	[is_active] [bit] NOT NULL,
	[subtotal] [decimal](18, 2) NOT NULL,
	[tax_amount] [decimal](18, 2) NOT NULL,
	[tax_id] [int] NULL,
	[tax_percentage] [decimal](5, 2) NOT NULL,
	[total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [pk_purchase] PRIMARY KEY CLUSTERED 
(
	[purchase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quote_detail]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quote_detail](
	[QuoteDetailId] [int] IDENTITY(1,1) NOT NULL,
	[quote_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[product_name] [varchar](100) NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](18, 2) NOT NULL,
	[line_total]  AS ([quantity]*[unit_price]) PERSISTED,
 CONSTRAINT [PK_quote_detail] PRIMARY KEY CLUSTERED 
(
	[QuoteDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quotes]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quotes](
	[quote_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[client_id] [varchar](20) NOT NULL,
	[quote_number] [varchar](50) NOT NULL,
	[quote_customer] [varchar](100) NOT NULL,
	[quote_remarks] [varchar](max) NOT NULL,
	[quote_conditions] [varchar](max) NOT NULL,
	[quote_status] [nvarchar](50) NOT NULL,
	[quote_validdate] [datetime2](7) NULL,
	[quote_date] [datetime2](7) NULL,
	[discount_id] [int] NULL,
	[quote_discountapplied] [bit] NOT NULL,
	[quote_discountpercentage] [int] NOT NULL,
	[quote_discountreason] [varchar](max) NOT NULL,
 CONSTRAINT [PK_quotes] PRIMARY KEY CLUSTERED 
(
	[quote_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sale_detail]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_detail](
	[sale_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[purchase_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[product_name] [nvarchar](255) NOT NULL,
	[line_total]  AS ([quantity]*[unit_price]) PERSISTED,
 CONSTRAINT [pk_sale_detail] PRIMARY KEY CLUSTERED 
(
	[sale_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tax]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tax](
	[tax_id] [int] IDENTITY(1,1) NOT NULL,
	[tax_name] [nvarchar](100) NOT NULL,
	[percentage] [decimal](5, 2) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_tax] PRIMARY KEY CLUSTERED 
(
	[tax_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_vacation_balance]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_vacation_balance](
	[v_balance_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[available_days] [decimal](5, 2) NOT NULL,
	[last_accrual_date] [date] NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[v_balance_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_role] [varchar](50) NOT NULL,
	[user_name] [varchar](100) NOT NULL,
	[user_lastname] [varchar](100) NULL,
	[user_email] [varchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[last_login] [datetime2](7) NULL,
	[password_hash] [nvarchar](255) NULL,
	[MustChangePassword] [bit] NOT NULL,
	[failed_login_attempts] [int] NOT NULL,
	[lockout_end] [datetime2](7) NULL,
 CONSTRAINT [pk_users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vacation_movements]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vacation_movements](
	[movements_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[movement_type] [nvarchar](20) NOT NULL,
	[days] [decimal](5, 2) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[movements_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vacations]    Script Date: 2/24/2026 4:56:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vacations](
	[vacation_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[days_requested] [decimal](5, 2) NOT NULL,
	[reason] [nvarchar](255) NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[vacation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260122002341_CreateIdentityTables', N'9.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260122015510_AddIdentityTables', N'9.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260128005202_AddQuoteTables', N'9.0.11')
GO
SET IDENTITY_INSERT [dbo].[asset] ON 

INSERT [dbo].[asset] ([asset_id], [asset_name], [description], [serial_number], [observations], [user_id], [assignment_date], [is_active], [created_at], [updated_at]) VALUES (1, N'Rotus', N'dasd', N'3424423', N'dasdasdadas', 2, CAST(N'2026-02-10T00:00:00.0000000' AS DateTime2), 1, CAST(N'2026-02-11T02:17:03.8608592' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[asset] OFF
GO
INSERT [dbo].[canton] ([canton_code], [canton_name], [province_code]) VALUES (101, N'San Jose', 1)
INSERT [dbo].[canton] ([canton_code], [canton_name], [province_code]) VALUES (102, N'Escazu', 1)
INSERT [dbo].[canton] ([canton_code], [canton_name], [province_code]) VALUES (103, N'Desamparados', 1)
GO
SET IDENTITY_INSERT [dbo].[client_location] ON 

INSERT [dbo].[client_location] ([location_id], [client_id], [latitude], [longitude], [address], [created_at], [updated_at]) VALUES (1, N'C001', CAST(9.933333 AS Decimal(9, 6)), CAST(-84.083333 AS Decimal(9, 6)), N'Ubicación C001', CAST(N'2026-01-20T19:16:42.0600000' AS DateTime2), NULL)
INSERT [dbo].[client_location] ([location_id], [client_id], [latitude], [longitude], [address], [created_at], [updated_at]) VALUES (2, N'C002', CAST(10.016667 AS Decimal(9, 6)), CAST(-84.216667 AS Decimal(9, 6)), N'Ubicación C002', CAST(N'2026-01-20T19:16:42.0600000' AS DateTime2), NULL)
INSERT [dbo].[client_location] ([location_id], [client_id], [latitude], [longitude], [address], [created_at], [updated_at]) VALUES (3, N'C003', CAST(9.866667 AS Decimal(9, 6)), CAST(-83.916667 AS Decimal(9, 6)), N'Ubicación C003', CAST(N'2026-01-20T19:16:42.0600000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[client_location] OFF
GO
INSERT [dbo].[clients] ([client_id], [client_name], [client_email], [client_phone], [client_electronic_invoice], [client_type], [client_purchases], [client_last_purchase], [is_active], [created_at], [updated_at], [province_code], [canton_code], [district_code], [exact_address]) VALUES (N'901170907', N'Nokia', N'josep.gz101@gmail.com', N'71066399', NULL, N'regular', 0, NULL, 1, CAST(N'2026-02-03T23:55:23.4163406' AS DateTime2), NULL, 4, 402, 40204, N'Josep.gz101@gmail.com')
INSERT [dbo].[clients] ([client_id], [client_name], [client_email], [client_phone], [client_electronic_invoice], [client_type], [client_purchases], [client_last_purchase], [is_active], [created_at], [updated_at], [province_code], [canton_code], [district_code], [exact_address]) VALUES (N'901170909', N'Jose', N'josep.gz101@gmail.com', N'71066399', NULL, N'regular', 1, CAST(N'2026-02-24T22:35:22.847' AS DateTime), 1, CAST(N'2026-02-03T17:49:56.7323579' AS DateTime2), NULL, 4, 402, 40204, N'Condos Max')
INSERT [dbo].[clients] ([client_id], [client_name], [client_email], [client_phone], [client_electronic_invoice], [client_type], [client_purchases], [client_last_purchase], [is_active], [created_at], [updated_at], [province_code], [canton_code], [district_code], [exact_address]) VALUES (N'C001', N'MarSalazar', N'josep.gz101@gmail.com', N'71066399', NULL, N'regular', 0, NULL, 1, CAST(N'2026-01-20T19:16:21.2200000' AS DateTime2), CAST(N'2026-02-03T23:56:25.2778157' AS DateTime2), 4, 404, 40406, N'Josep.gz101@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[discount] ON 

INSERT [dbo].[discount] ([discount_id], [discount_name], [discount_percentage], [is_active]) VALUES (1, N'Descuento 25%', 25, 1)
SET IDENTITY_INSERT [dbo].[discount] OFF
GO
SET IDENTITY_INSERT [dbo].[distributor] ON 

INSERT [dbo].[distributor] ([distributor_id], [distributor_code], [name], [email], [phone], [is_active], [created_at]) VALUES (1, N'D001', N'Distribuidor Alpha', N'alpha@dist.com', N'70000001', 0, CAST(N'2026-01-20T19:17:16.467' AS DateTime))
INSERT [dbo].[distributor] ([distributor_id], [distributor_code], [name], [email], [phone], [is_active], [created_at]) VALUES (2, N'D002', N'Distribuidor Beta', N'beta@dist.com', N'70000002', 1, CAST(N'2026-01-20T19:17:16.467' AS DateTime))
INSERT [dbo].[distributor] ([distributor_id], [distributor_code], [name], [email], [phone], [is_active], [created_at]) VALUES (3, N'D003', N'Distribuidor Gamma', N'gamma@dist.com', N'70000003', 1, CAST(N'2026-01-20T19:17:16.467' AS DateTime))
SET IDENTITY_INSERT [dbo].[distributor] OFF
GO
INSERT [dbo].[district] ([district_code], [district_name], [canton_code]) VALUES (10101, N'Carmen', 101)
INSERT [dbo].[district] ([district_code], [district_name], [canton_code]) VALUES (10102, N'Merced', 101)
INSERT [dbo].[district] ([district_code], [district_name], [canton_code]) VALUES (10103, N'Hospital', 101)
GO
SET IDENTITY_INSERT [dbo].[employee_schedule] ON 

INSERT [dbo].[employee_schedule] ([schedule_id], [user_id], [start_at], [end_at], [notes], [is_active], [created_at], [updated_at], [created_by_user_id]) VALUES (1, 1, CAST(N'2026-02-11T11:03:00.0000000' AS DateTime2), CAST(N'2026-02-19T00:03:00.0000000' AS DateTime2), NULL, 1, CAST(N'2026-02-22T13:59:33.0000000' AS DateTime2), NULL, 1)
SET IDENTITY_INSERT [dbo].[employee_schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([product_id], [distributor_id], [product_name], [product_type], [product_price], [product_quantity], [is_active]) VALUES (2, 1, N'Chicharrones', N'Carne', CAST(50.00 AS Decimal(10, 2)), 105, 0)
INSERT [dbo].[product] ([product_id], [distributor_id], [product_name], [product_type], [product_price], [product_quantity], [is_active]) VALUES (3, 2, N'Producto B', N'General', CAST(12.00 AS Decimal(10, 2)), 79, 1)
INSERT [dbo].[product] ([product_id], [distributor_id], [product_name], [product_type], [product_price], [product_quantity], [is_active]) VALUES (4, 3, N'Producto C', N'Premium', CAST(25.00 AS Decimal(10, 2)), 40, 1)
SET IDENTITY_INSERT [dbo].[product] OFF
GO
INSERT [dbo].[province] ([province_code], [province_name]) VALUES (1, N'San Jose')
INSERT [dbo].[province] ([province_code], [province_name]) VALUES (2, N'Alajuela')
INSERT [dbo].[province] ([province_code], [province_name]) VALUES (3, N'Cartago')
GO
SET IDENTITY_INSERT [dbo].[purchase] ON 

INSERT [dbo].[purchase] ([purchase_id], [user_id], [client_id], [purchase_date], [purchase_paid], [is_active], [subtotal], [tax_amount], [tax_id], [tax_percentage], [total]) VALUES (1, 1, N'901170909', CAST(N'2026-02-21T04:05:18.233' AS DateTime), 0, 1, CAST(12.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, CAST(0.00 AS Decimal(5, 2)), CAST(12.00 AS Decimal(18, 2)))
INSERT [dbo].[purchase] ([purchase_id], [user_id], [client_id], [purchase_date], [purchase_paid], [is_active], [subtotal], [tax_amount], [tax_id], [tax_percentage], [total]) VALUES (2, 1, N'901170909', CAST(N'2026-02-24T22:35:22.817' AS DateTime), 0, 0, CAST(89.90 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, CAST(0.00 AS Decimal(5, 2)), CAST(89.90 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[purchase] OFF
GO
SET IDENTITY_INSERT [dbo].[quote_detail] ON 

INSERT [dbo].[quote_detail] ([QuoteDetailId], [quote_id], [product_id], [product_name], [quantity], [unit_price]) VALUES (38, 32, 4, N'Producto C', 1, CAST(25.00 AS Decimal(18, 2)))
INSERT [dbo].[quote_detail] ([QuoteDetailId], [quote_id], [product_id], [product_name], [quantity], [unit_price]) VALUES (41, 31, 4, N'Producto C', 9, CAST(25.00 AS Decimal(18, 2)))
INSERT [dbo].[quote_detail] ([QuoteDetailId], [quote_id], [product_id], [product_name], [quantity], [unit_price]) VALUES (42, 31, 12, N'Producto K', 1, CAST(50.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[quote_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[quotes] ON 

INSERT [dbo].[quotes] ([quote_id], [user_id], [client_id], [quote_number], [quote_customer], [quote_remarks], [quote_conditions], [quote_status], [quote_validdate], [quote_date], [discount_id], [quote_discountapplied], [quote_discountpercentage], [quote_discountreason]) VALUES (31, 1, N'C018', N'COT-2026222-0001', N'Cliente Dieciocho', N'Sin observaciones.', N'Sin codiciones aplicables.', N'pending', CAST(N'2026-04-17T00:00:00.0000000' AS DateTime2), CAST(N'2026-02-22T13:40:27.1560234' AS DateTime2), 1, 1, 25, N'El cliente busca descuento de 25%')
INSERT [dbo].[quotes] ([quote_id], [user_id], [client_id], [quote_number], [quote_customer], [quote_remarks], [quote_conditions], [quote_status], [quote_validdate], [quote_date], [discount_id], [quote_discountapplied], [quote_discountpercentage], [quote_discountreason]) VALUES (32, 1, N'C021', N'COT-2026222-0002', N'Cliente Veintiuno', N'asdadassdad', N'sadadasd', N'rejected', CAST(N'2026-03-26T00:00:00.0000000' AS DateTime2), CAST(N'2026-02-22T13:42:56.4361852' AS DateTime2), 1, 1, 25, N'El cliente busca descuento de 25%')
INSERT [dbo].[quotes] ([quote_id], [user_id], [client_id], [quote_number], [quote_customer], [quote_remarks], [quote_conditions], [quote_status], [quote_validdate], [quote_date], [discount_id], [quote_discountapplied], [quote_discountpercentage], [quote_discountreason]) VALUES (33, 1, N'C023', N'COT-2026222-0003', N'Cliente Veintitrés', N'Sin observaciones.', N'Sin codiciones aplicables.', N'pending', CAST(N'2026-03-13T00:00:00.0000000' AS DateTime2), CAST(N'2026-02-22T15:01:58.5112002' AS DateTime2), 1, 1, 25, N'El cliente busca descuento de 25%')
SET IDENTITY_INSERT [dbo].[quotes] OFF
GO
SET IDENTITY_INSERT [dbo].[sale_detail] ON 

INSERT [dbo].[sale_detail] ([sale_detail_id], [purchase_id], [product_id], [quantity], [unit_price], [product_name]) VALUES (1, 1, 3, 1, CAST(12.00 AS Decimal(10, 2)), N'Producto B')
INSERT [dbo].[sale_detail] ([sale_detail_id], [purchase_id], [product_id], [quantity], [unit_price], [product_name]) VALUES (2, 2, 5, 10, CAST(8.99 AS Decimal(10, 2)), N'Producto D')
SET IDENTITY_INSERT [dbo].[sale_detail] OFF
GO
SET IDENTITY_INSERT [dbo].[user_vacation_balance] ON 

INSERT [dbo].[user_vacation_balance] ([v_balance_id], [user_id], [available_days], [last_accrual_date], [updated_at]) VALUES (1, 1, CAST(0.00 AS Decimal(5, 2)), NULL, CAST(N'2026-02-22T07:54:40.453' AS DateTime))
INSERT [dbo].[user_vacation_balance] ([v_balance_id], [user_id], [available_days], [last_accrual_date], [updated_at]) VALUES (2, 2, CAST(0.00 AS Decimal(5, 2)), NULL, CAST(N'2026-02-22T07:54:40.453' AS DateTime))
SET IDENTITY_INSERT [dbo].[user_vacation_balance] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [user_role], [user_name], [user_lastname], [user_email], [is_active], [created_at], [updated_at], [last_login], [password_hash], [MustChangePassword], [failed_login_attempts], [lockout_end]) VALUES (1, N'SuperUsuario', N'Super', N'Usuario', N'super@syncro.local', 1, CAST(N'2026-01-23T03:11:47.3801056' AS DateTime2), NULL, CAST(N'2026-02-24T22:49:56.4908084' AS DateTime2), N'$2a$11$mIa0BEMs0657a2JP0ku5xe1EORQP4GcUBl9WjojvCfV3fC7fkLElW', 0, 0, NULL)
INSERT [dbo].[users] ([user_id], [user_role], [user_name], [user_lastname], [user_email], [is_active], [created_at], [updated_at], [last_login], [password_hash], [MustChangePassword], [failed_login_attempts], [lockout_end]) VALUES (2, N'Vendedor', N'Robert', N'Dingle', N'Robs@gmail.com', 1, CAST(N'2026-02-03T17:47:39.8159269' AS DateTime2), NULL, NULL, N'$2a$11$2Uvxgu6/24f4.dFAt3gYxOq5AHybGdRYrw1xve5MaDN0BuJQ6DqDm', 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_distributor_code]    Script Date: 2/24/2026 4:56:44 PM ******/
ALTER TABLE [dbo].[distributor] ADD  CONSTRAINT [uq_distributor_code] UNIQUE NONCLUSTERED 
(
	[distributor_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__user_vac__B9BE370E465AB062]    Script Date: 2/24/2026 4:56:44 PM ******/
ALTER TABLE [dbo].[user_vacation_balance] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_users_email]    Script Date: 2/24/2026 4:56:44 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [uq_users_email] UNIQUE NONCLUSTERED 
(
	[user_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cash_register] ADD  DEFAULT (getdate()) FOR [cash_register_date]
GO
ALTER TABLE [dbo].[client_location] ADD  CONSTRAINT [df_client_location_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[clients] ADD  DEFAULT ((0)) FOR [client_purchases]
GO
ALTER TABLE [dbo].[clients] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[clients] ADD  CONSTRAINT [df_clients_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[distributor] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[distributor] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[employee_schedule] ADD  CONSTRAINT [DF_employee_schedule_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[employee_schedule] ADD  CONSTRAINT [DF_employee_schedule_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[invoice] ADD  DEFAULT (getdate()) FOR [invoice_date]
GO
ALTER TABLE [dbo].[loan] ADD  DEFAULT ((0)) FOR [loan_deposit]
GO
ALTER TABLE [dbo].[loan] ADD  DEFAULT (getdate()) FOR [loan_date]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[purchase] ADD  DEFAULT (getdate()) FOR [purchase_date]
GO
ALTER TABLE [dbo].[purchase] ADD  DEFAULT ((0)) FOR [purchase_paid]
GO
ALTER TABLE [dbo].[purchase] ADD  DEFAULT (CONVERT([bit],(0))) FOR [is_active]
GO
ALTER TABLE [dbo].[purchase] ADD  DEFAULT ((0.0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[purchase] ADD  DEFAULT ((0.0)) FOR [tax_amount]
GO
ALTER TABLE [dbo].[purchase] ADD  DEFAULT ((0.0)) FOR [tax_percentage]
GO
ALTER TABLE [dbo].[purchase] ADD  DEFAULT ((0.0)) FOR [total]
GO
ALTER TABLE [dbo].[quotes] ADD  DEFAULT ('pending') FOR [quote_status]
GO
ALTER TABLE [dbo].[quotes] ADD  DEFAULT (CONVERT([bit],(0))) FOR [quote_discountapplied]
GO
ALTER TABLE [dbo].[quotes] ADD  DEFAULT ((0)) FOR [quote_discountpercentage]
GO
ALTER TABLE [dbo].[quotes] ADD  DEFAULT ('') FOR [quote_discountreason]
GO
ALTER TABLE [dbo].[sale_detail] ADD  DEFAULT (N'') FOR [product_name]
GO
ALTER TABLE [dbo].[user_vacation_balance] ADD  DEFAULT ((0)) FOR [available_days]
GO
ALTER TABLE [dbo].[user_vacation_balance] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [MustChangePassword]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [failed_login_attempts]
GO
ALTER TABLE [dbo].[vacation_movements] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[vacations] ADD  DEFAULT ('APPROVED') FOR [status]
GO
ALTER TABLE [dbo].[vacations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[asset]  WITH CHECK ADD  CONSTRAINT [FK_asset_users_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[asset] CHECK CONSTRAINT [FK_asset_users_user_id]
GO
ALTER TABLE [dbo].[canton]  WITH CHECK ADD  CONSTRAINT [fk_canton_province] FOREIGN KEY([province_code])
REFERENCES [dbo].[province] ([province_code])
GO
ALTER TABLE [dbo].[canton] CHECK CONSTRAINT [fk_canton_province]
GO
ALTER TABLE [dbo].[cash_register]  WITH CHECK ADD  CONSTRAINT [fk_cash_register_purchase] FOREIGN KEY([purchase_id])
REFERENCES [dbo].[purchase] ([purchase_id])
GO
ALTER TABLE [dbo].[cash_register] CHECK CONSTRAINT [fk_cash_register_purchase]
GO
ALTER TABLE [dbo].[cash_register]  WITH CHECK ADD  CONSTRAINT [fk_cash_register_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[cash_register] CHECK CONSTRAINT [fk_cash_register_user]
GO
ALTER TABLE [dbo].[client_location]  WITH CHECK ADD  CONSTRAINT [fk_client_location_client] FOREIGN KEY([client_id])
REFERENCES [dbo].[clients] ([client_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[client_location] CHECK CONSTRAINT [fk_client_location_client]
GO
ALTER TABLE [dbo].[clients]  WITH CHECK ADD  CONSTRAINT [fk_clients_province] FOREIGN KEY([province_code])
REFERENCES [dbo].[province] ([province_code])
GO
ALTER TABLE [dbo].[clients] CHECK CONSTRAINT [fk_clients_province]
GO
ALTER TABLE [dbo].[district]  WITH CHECK ADD  CONSTRAINT [fk_district_canton] FOREIGN KEY([canton_code])
REFERENCES [dbo].[canton] ([canton_code])
GO
ALTER TABLE [dbo].[district] CHECK CONSTRAINT [fk_district_canton]
GO
ALTER TABLE [dbo].[employee_schedule]  WITH CHECK ADD  CONSTRAINT [FK_employee_schedule_created_by_user] FOREIGN KEY([created_by_user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[employee_schedule] CHECK CONSTRAINT [FK_employee_schedule_created_by_user]
GO
ALTER TABLE [dbo].[employee_schedule]  WITH CHECK ADD  CONSTRAINT [FK_employee_schedule_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[employee_schedule] CHECK CONSTRAINT [FK_employee_schedule_users]
GO
ALTER TABLE [dbo].[invoice]  WITH CHECK ADD  CONSTRAINT [fk_invoice_purchase] FOREIGN KEY([purchase_id])
REFERENCES [dbo].[purchase] ([purchase_id])
GO
ALTER TABLE [dbo].[invoice] CHECK CONSTRAINT [fk_invoice_purchase]
GO
ALTER TABLE [dbo].[loan]  WITH CHECK ADD  CONSTRAINT [fk_loan_purchase] FOREIGN KEY([purchase_id])
REFERENCES [dbo].[purchase] ([purchase_id])
GO
ALTER TABLE [dbo].[loan] CHECK CONSTRAINT [fk_loan_purchase]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [fk_product_distributor] FOREIGN KEY([distributor_id])
REFERENCES [dbo].[distributor] ([distributor_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [fk_product_distributor]
GO
ALTER TABLE [dbo].[purchase]  WITH CHECK ADD  CONSTRAINT [FK_purchase_clients_client_id] FOREIGN KEY([client_id])
REFERENCES [dbo].[clients] ([client_id])
GO
ALTER TABLE [dbo].[purchase] CHECK CONSTRAINT [FK_purchase_clients_client_id]
GO
ALTER TABLE [dbo].[purchase]  WITH CHECK ADD  CONSTRAINT [FK_purchase_tax_tax_id] FOREIGN KEY([tax_id])
REFERENCES [dbo].[tax] ([tax_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[purchase] CHECK CONSTRAINT [FK_purchase_tax_tax_id]
GO
ALTER TABLE [dbo].[purchase]  WITH CHECK ADD  CONSTRAINT [fk_purchase_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[purchase] CHECK CONSTRAINT [fk_purchase_user]
GO
ALTER TABLE [dbo].[quote_detail]  WITH CHECK ADD  CONSTRAINT [FK_quote_detail_product_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[quote_detail] CHECK CONSTRAINT [FK_quote_detail_product_product_id]
GO
ALTER TABLE [dbo].[quote_detail]  WITH CHECK ADD  CONSTRAINT [FK_quote_detail_quotes_quote_id] FOREIGN KEY([quote_id])
REFERENCES [dbo].[quotes] ([quote_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[quote_detail] CHECK CONSTRAINT [FK_quote_detail_quotes_quote_id]
GO
ALTER TABLE [dbo].[quotes]  WITH CHECK ADD  CONSTRAINT [FK_quotes_clients_client_id] FOREIGN KEY([client_id])
REFERENCES [dbo].[clients] ([client_id])
GO
ALTER TABLE [dbo].[quotes] CHECK CONSTRAINT [FK_quotes_clients_client_id]
GO
ALTER TABLE [dbo].[quotes]  WITH CHECK ADD  CONSTRAINT [FK_quotes_discount_discount_id] FOREIGN KEY([discount_id])
REFERENCES [dbo].[discount] ([discount_id])
GO
ALTER TABLE [dbo].[quotes] CHECK CONSTRAINT [FK_quotes_discount_discount_id]
GO
ALTER TABLE [dbo].[quotes]  WITH CHECK ADD  CONSTRAINT [FK_quotes_users_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[quotes] CHECK CONSTRAINT [FK_quotes_users_user_id]
GO
ALTER TABLE [dbo].[sale_detail]  WITH CHECK ADD  CONSTRAINT [FK_sale_detail_product_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[sale_detail] CHECK CONSTRAINT [FK_sale_detail_product_product_id]
GO
ALTER TABLE [dbo].[sale_detail]  WITH CHECK ADD  CONSTRAINT [fk_sale_detail_purchase] FOREIGN KEY([purchase_id])
REFERENCES [dbo].[purchase] ([purchase_id])
GO
ALTER TABLE [dbo].[sale_detail] CHECK CONSTRAINT [fk_sale_detail_purchase]
GO
ALTER TABLE [dbo].[user_vacation_balance]  WITH CHECK ADD  CONSTRAINT [FK_user_vacation_balance_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_vacation_balance] CHECK CONSTRAINT [FK_user_vacation_balance_users]
GO
ALTER TABLE [dbo].[vacation_movements]  WITH CHECK ADD  CONSTRAINT [FK_vacation_movements_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[vacation_movements] CHECK CONSTRAINT [FK_vacation_movements_Users]
GO
ALTER TABLE [dbo].[vacations]  WITH CHECK ADD  CONSTRAINT [FK_Vacations_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[vacations] CHECK CONSTRAINT [FK_Vacations_Users]
GO
ALTER TABLE [dbo].[employee_schedule]  WITH CHECK ADD  CONSTRAINT [CK_employee_schedule_dates] CHECK  (([end_at]>[start_at]))
GO
ALTER TABLE [dbo].[employee_schedule] CHECK CONSTRAINT [CK_employee_schedule_dates]
GO
USE [master]
GO
